  *{
    margin: 0px;
    padding: 0px;
    }

   .class{
    background-color: brown;
    background-size: cover;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: black;
   }

